body
{
	background-color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.navigation
{
	background-color: whitesmoke;
	padding: 15px;
	box-shadow: 0 0 3px; color: whitesmoke;
}


.navigation li 
{
	display: inline;
	padding-left: 35px;
}

.navigation li a 
{
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 10px;
}

div
{
	padding-left: 5%;
	padding-right: 5%;
}

.navigation li a:hover
{
	color: royalblue;
	text-decoration: none;
	padding: 15px;
}

.navigation li img
{
	width: 200px;
	float: left;
	margin-top: -20px;
}
.c1
{
	font-size: 17px;
	text-align: justify;
	text-justify: inter-word;
	padding-top: 100px;
	display: flex;
	gap: 100px;
	align-items: center;
	align-content: center;
	align-self: center;
	padding-left: 15%;
}
.c1 .cc1 b
{
	font-family: sega;
	font-size: 55px;
	padding-bottom: 10px;
	color: #ffffff;
}
.cc1
{
	line-height: 30px;
}
.c1 img
{
	cursor: pointer;
	object-fit: cover;
}
.c1 .cc1 b
{
	color: black;
}
